/* lora-regular - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: normal;
  src: local(''), url('/fonts/lora-v23-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/lora-v23-latin-regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lora-700 - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: bold;
  src: local(''), url('/fonts/lora-v23-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/lora-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lora-700italic - latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: bold;
  src: local(''), url('/fonts/lora-v23-latin-700italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/lora-v23-latin-700italic.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  src: local(''), url('/fonts/source-sans-pro-v19-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/source-sans-pro-v19-latin-regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: bold;
  src: local(''), url('/fonts/source-sans-pro-v19-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/source-sans-pro-v19-latin-700.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-900italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 900;
  src: local(''), url('/fonts/source-sans-pro-v19-latin-900italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/source-sans-pro-v19-latin-900italic.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--line-height-normal);
  font-size: var(--font-size-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size-1);
  color: var(--color-text);
  text-rendering: optimizeLegibility;
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

hr {
  background: var(--color-accent);
  height: var(-spacing-px);
  border: var(--spacing-0);
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin: var(--spacing-12) 0 var(--spacing-6);
  line-height: var(--line-height-tight);
}

h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  color: var(--color-heading);
}

h1 {
  margin-top: var(--spacing-0);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-6);
  font-style: italic;
  color: var(--color-heading-black);
}

h2 {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-semibold);
  color: var(--color-heading);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

/* Prose */
p {
  line-height: var(--line-height-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: inside;
  list-style-image: none;
}

li p {
  display: inline;
}

:is(ol, ul) li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-theme-4);
  margin-left: calc(-1 + var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-theme-4);
  font-size: var(--font-size-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

table {
  width: var(--max-width-full);
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: var(--spacing-1);
}

table thead tr th {
  border-bottom: var(--spacing-px) solid var(--color-accent);
}

/* Link */
a {
  color: var(--color-theme-4);
}

a,
button {
  /* browser will not anticipate double click so proceeds with action quicker (300 ms quicker) */
  touch-action: manipulation;
}

h1 > a {
  color: inherit;
  text-decoration: none;
}
:is(h2, h3, h4, h5, h6) > a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  word-wrap: normal !important;
}

figure {
  margin-bottom: var(--spacing-6);
  padding-bottom: var(--spacing-6);
}

figure figcaption {
  margin-top: var(--spacing-2);
}

/* Media queries */
@media (max-width: 42rem) {
  h1 {
    font-size: var(--mobile-font-size-6);
  }

  h2 {
    font-size: var(--mobile-font-size-5);
  }

  h3 {
    font-size: var(--mobile-font-size-4);
  }

  h4 {
    font-size: var(--mobile-font-size-3);
  }

  h5 {
    font-size: var(--mobile-font-size-2);
  }

  h6 {
    font-size: var(--mobile-font-size-1);
  }

  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}
