---
import BaseLayout from '$layouts/BaseLayout.astro';
import { Markdown } from 'astro/components';

/**
 * Astro API see: https://docs.astro.build/en/reference/api-reference/#getstaticpaths
 * @returns {Promise<{params: {slug: string;}; props: { content: string; title: string; metadescription: string;}}[]>}
 */
export async function getStaticPaths() {
  /** @type {Promise<{ astro: {source: string;} postTitle: seoMetaDescription: string; string; file: URL;}[]>} */
  const posts = await Astro.fetchContent('../content/posts/**/index.md');

  return posts.map(
    ({
      astro: { source: content },
      file: { pathname },
      postTitle: title,
      seoMetaDescription: metadescription,
    }) => {
      const slug = pathname.split('/').at(-2);

      return {
        params: { slug },
        props: { content, title, metadescription },
      };
    },
  );
}

const { content, title, metadescription } = Astro.props;
const { slug } = Astro.request.params;

const seoProps = {
  metadescription,
  slug,
  title,
};
---

<BaseLayout {...seoProps}>
  <h1>{title}</h1>
  <div class="container">
    <Markdown {content}>

    </Markdown>
  </div>
</BaseLayout>

<style>
  .container {
    max-width: var(--max-width-xl);
    margin: var(--spacing-0) auto;
  }
</style>
