---
import BaseLayout from '~layouts/BaseLayout.astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
	const posts = await getCollection('posts');
	return posts.map(({ data: { postTitle, seoMetaDescription }, render, slug }) => {
		return {
			params: { slug },
			props: { seoMetaDescription, render, postTitle },
		};
	});
}

type PostCollection = CollectionEntry<'posts'>;
type Props = Pick<PostCollection['data'], 'seoMetaDescription' | 'postTitle'> &
	Pick<PostCollection, 'render'>;

const { slug } = Astro.params;
const { seoMetaDescription: metadescription, render, postTitle: title }: Props = Astro.props;

const { Content } = await render();
const seoProps = {
	metadescription,
	slug,
	title,
};
---

<BaseLayout {...seoProps}>
	<h1>{title}</h1>
	<div class="container">
		<Content />
	</div>
</BaseLayout>

<style>
	.container {
		max-width: var(--max-width-xl);
		margin: var(--spacing-0) auto;
	}
</style>
