---
import BaseLayout from '$layouts/BaseLayout.astro';
import BlogRoll from '$components/BlogRoll.svelte';
import Card from '$components/Card.svelte';

/** @type {Promise<{frontmatter: {datePublished: string; postTitle: string; seoMetaDescription: string; }file: string;}[]>} */
const rawPosts = await Astro.glob('../content/posts/**/index.md');
const sortedRawPosts = rawPosts.sort(
  (
    { frontmatter: { datePublished: datePublishedA } },
    { frontmatter: { datePublished: datePublishedB } },
  ) => new Date(datePublishedB).valueOf() - new Date(datePublishedA).valueOf(),
);

const posts = sortedRawPosts.map(
  ({ frontmatter: { datePublished, postTitle, seoMetaDescription }, file }) => {
    const slug = file.split('/').at(-2);
    return { datePublished, postTitle, seoMetaDescription, slug };
  },
);

const seoProps = {
  metadescription:
    'Astro Blog Markdown Starter - starter code by Rodney Lab to help you get going on your next blog site',
  slug: '',
  title: 'Home',
};
---

<BaseLayout {...seoProps}>
  <header>
    <h1>Climate &mdash; Astro Starter</h1>
    <h2>Astro Svelte Markdown Blog</h2>
  </header><Card>
    <h2 class='heading'>About me</h2>
    <p>
      I live and breathe analogue photography. I show you my favourite analogue film cameras on this
      site. Hopefully if you are not into analogue photography yet, some of my enthusiasm will rub
      off onto you.
    </p>
  </Card>
  <BlogRoll client:visible initialPosts={4} {posts} />
</BaseLayout>

<style>
  .heading {
    margin-top: var(--spacing-0);
  }
</style>
